/* Global Styles */
body {
    min-height: 100vh;
    font-family: "Space Mono", monospace, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #F4F4F2;
    color: black;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}


/* Left Section */
.left-section {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.left-section img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.left-section h1 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.left-section p {
    font-size: 1rem;
    margin: 0;
}

/* Right Section */
.right-section {
    flex: 2;
    padding: 20px;
}

.right-section section {
    margin-bottom: 20px;
}

.right-section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.right-section p,
.right-section ul {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.right-section ul {
    list-style: none;
    margin-top: 10px;
}

.right-section ul li {
    margin-bottom: 5px;
}

/* Links */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .left-section, .right-section {
        width: 100%;
        padding: 10px;
    }
}

a[href^="http"]::after,
a[href^="https"]::after {
    content: " ⧉";
    font-size: 0.8em;
}